// WiFi settings
#define SECRET_WIFI_SSID "<your wifi name>"
#define SECRET_WIFI_PASS "<your wifi password>"

// MQTT settings
#define SECRET_MQTT_USER "<mqtt user name>"
#define SECRET_MQTT_PASS "<mqtt user password>"
#define SECRET_MQTT_HOST "<mqtt host ip>"
#define SECRET_MQTT_PORT 1883
#define SECRET_MQTT_BASE_TOPIC "<base topic for mqtt comms>"

// OWA settings
#define SECRET_OWA_HOSTNAME "<hostname for over the wire updates>"
#define SECRET_OWA_PASSWORD "<password for over the wire updates>"
